<form>
  <input type="text" id="start_node"/><br>
  <input type="text" id="end_node"/><br>
  <button type="button" id="search" onclick="run_search()">Search!</button><br>
</form>

<label id="searching"></label><br>
<table id="results"></table><br>

<script src="https://js.pusher.com/3.0/pusher.min.js"></script>

<script>
var pusher = new Pusher('3228ba1837099414741a', {
encrypted: true
});

var channel = pusher.subscribe('test_channel');
channel.bind('my_event', function(data) {
    var table = document.getElementById("results");
    table.insertRow(-1).insertCell(0).innerHTML = data.message;
    });
</script>

<script>
  function run_search(){
    var start_node = document.getElementById("start_node").value;
    var end_node = document.getElementById("end_node").value;

    var xmlhttp = new XMLHttpRequest();
    xmlhttp.open("POST", "/home/create", true);
    xmlhttp.setRequestHeader("Content-type", "application/json");
    xmlhttp.onreadystatechange = function () {
      if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
        //document.getElementById("searching").innerHTML = "Searching...";
      }
    }
    xmlhttp.send(JSON.stringify({startNode: start_node, endNode: end_node}));
  };
</script>
