<form>
  <input type="text" id="start_node"/><br>
  <input type="text" id="end_node"/><br>
  <button type="button" id="search" onclick="run_search()">Search!</button><br>
</form>

<label id="searching"></label><br>
<table id="results"></table><br>
